# =============================================
# Customer Service - Configuration
# ERP Microservices | Master 1 ISI 2026
# =============================================

PORT=3001
MONGODB_URI=mongodb://mongo:27017/customer_service_db
NODE_ENV=development
